.project-wrapper{
    background-color: #d8e1e6;
    box-shadow: 0 0 10px rgba(175, 154, 154, 0.4);
    padding: 5px;
    position: relative;
    border-radius: 3px;
    height: 320px;
    width: 30%;
    margin-bottom: 15px;
    backface-visibility: hidden;
}
.flip-card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 2s;
}
.p-front, .p-back{
    position: absolute;
    backface-visibility: hidden;
}
.project-wrapper.flip > .flip-card{
    transform: rotateY(180deg);
}

.project-wrapper button{
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    outline: transparent;
}
.pro-arrow{
    padding: 3px;
    width: 7px;
    height: 7px;
    border:solid rgb(83, 115, 134);
    border-width: 0px 2px 2px 0px ;
}
.more{
    color: rgb(83, 115, 134);;
}